venv/
env/
.venv/
.env
users.json
uploaded_files/
firebase_key.json
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.joblib
latest_cid.txt
.DS_Store
Thumbs.db
desktop.ini
.vscode/
*.code-workspace
.idea/
*.log
dist/
build/
*.egg-info/